<div class="thing-new">
    <input type="text" ng-model="state.itemTitle" />
    <button ng-disabled="state.isUpdatingData" ng-click="this.handleClickCreateNewButton()">Create New Thing</button>
</div>