body {
  background: #f5f5f5;
}

.examples-link-list {
  margin: 20px auto 0;
  text-align: center;
  list-style: none;

  li {
    margin: 0;
    font-size: 30px;

    a {
      display: inline-block;
      margin: 0 0 20px 0;
      padding: 10px;
      color: @gray-dark;
      text-decoration: none;

      &:hover {
        color: @gray-lightest;
        background: @gray-dark;
      }
    }
  }

}



.island {
  .box-sizing("border-box");
  display: block;
  padding: 10px;
  margin: 0 0 20px 0;
}

