@import "./../../theme/css/index.less";

@body-bg-color: #fff;

@color-text-light: #fff;
@color-text-dark: #333;

@color-code-fg: @color-text-light;
@color-code-bg: transparent;
@color-code-border: transparent;

@color-dark: #222;//#363F45;
@color-teal: #009587;
@color-light-blue: #9cf;

@color-domain-react: darken(@color-light-blue, 70%);
@color-domain-react-light: darken(@color-light-blue, 10%);
@color-domain-flux: darken(@color-teal, 20%);
@color-domain-flux-light: lighten(@color-teal, 20%);


#presentation {

    h1, h2, h3 {
        font-weight: 700;
        margin-bottom: 1em;
        line-height: 120%;
        color: #fff;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.5em;
    }

    .unfocused {
        opacity: 0.5;
    }

    p {
        padding-bottom: 10px;
        line-height: 120%;
    }

    pre {
        margin: 0;
        padding: 0;
        background: transparent;
        border: 0;
        color: #fff;
    }

    ul {
        list-style: disc;
        text-align: left;
        margin: 0 2em 2em 2em;

        li {
            margin: 0 0 1em 0;
            line-height: 120%;
        }
    }

    .remark-slide-content {
        padding-left: 1em;
        padding-right: 1em;

        &.bg-dark {
            color: @color-text-light;
            background: @color-dark;

            a {
                color: @color-text-light;
                background: @color-dark;
            }

            p > code {
                //color: @color-code-fg;
                //background: @color-code-bg;
            }
        }

        &.bg-react {
            color: @color-text-light;
            background: @color-domain-react;

            h1, h2 {
                color: @color-domain-react-light;
            }

            a {
                color: @color-text-light;
                background: @color-domain-react;
            }
        }


        &.bg-flux {
            color: @color-text-light;
            background: @color-domain-flux;

            h1, h2 {
                color: @color-domain-flux-light;
            }

            a {
                color: @color-text-light;
                background: @color-domain-react;
            }
        }
    }

    .remark-code, .remark-inline-code {
        //font-family: 'Menlo';
        //color: @color-code-fg;
        background: @color-code-bg;
        border: 1px solid @color-code-border;
        text-align: left;
        //font-size: 1em;

        .remark-code-line-highlighted {
            background-color: #000;
            border: 1px solid #fff;
        }

        &.javascript {
            .hljs-comment {
                color: rgb(221, 221, 221);
            }
        }
    }

    .remark-code {
        display: block;
        margin: 0.5em auto;
        padding: 0.25em;
        //padding-top: 2em;
        //padding-bottom: 2em;
        //background-color: #f5f5f5;
    }

    .presentationTitle {
        position: absolute;
        left: 1em;
        top: 1em;
        font-size: 1em;
        color: #777;
    }

    .sectionTitle {
        position: absolute;
        left: 1em;
        top: 1em;
        margin: 0;
        padding: 0;
        color: @color-text-light;
        opacity: 0.5;
        font-size: 1em;
    }

    .sectionFooter {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0.6em;
        margin: 0;
        padding: 0;
        color: @color-text-light;
        opacity: 0.5;
        text-align: center;
        font-size: 1em;
    }

}
