@body-bg-color: #fff;

@color-text-light: #fff;
@color-text-dark: #333;

@color-code-fg: @color-text-light;
@color-code-bg: transparent;
@color-code-border: transparent;

@color-dark: #222;//#363F45;
@color-teal: #009587;
@color-indigo: #3E50B4;
@color-orange: #FE9700;
@color-deep-orange: #FE5621;
@color-purple: #9B26AF;
@color-deep-purple: #6639B6;

@color-domain-react: darken(#9cf, 70%);
@color-domain-flux: darken(@color-teal, 20%);