doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(name="author" content="")
        meta(name="apple-mobile-web-app-capable" content="yes")
        title React.js & Flux Presentation
        link(rel="shortcut icon" href="/assets/img/favicon.ico")
        link(rel="stylesheet" href="/assets/css/app-bundle.css")
    body
        h1 React.js & Flux
        ul.examples-link-list
            li
                a(href="/presentation") Presentation
            li
                a(href="/taskr/#/examples") Examples
            li
                a(href="/taskr/#/home") Taskr App

