doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(name="author" content="")
        meta(name="apple-mobile-web-app-capable" content="yes")
        title Presentation
        link(rel="shortcut icon" href="/assets/img/favicon.ico")
        link(rel="stylesheet" href="./../assets/css/presentation-bundle.css")
    body#presentation
        textarea#source
            include ./../../content/react.md

        script(type='text/javascript' src='./../assets/js/presentation-bundle.js')
