.form-control-focus(@color: @input-border-focus) {
  &:focus {
    .box-shadow(none);
  }
}

.form-control-validation(@text-color: #555; @border-color: #ccc; @background-color: #f5f5f5) {
  .form-control {
    &:focus {
      .box-shadow(none);
    }
  }
}