@theme-src-dir: "./theme/";

@bootstrap-src-dir: "./../../../../node_modules/bootstrap/less/";

@bootstrap-overrides-dir: "./bootstrap-overrides/";

// Core variables and mixins
@import "@{bootstrap-src-dir}variables.less";
@import "@{bootstrap-overrides-dir}variables.less";
@import "@{bootstrap-src-dir}mixins.less";
@import "@{bootstrap-overrides-dir}mixins.less";

// Reset and dependencies
@import "@{bootstrap-src-dir}normalize.less";
@import "@{bootstrap-src-dir}print.less";
@import "@{bootstrap-src-dir}glyphicons.less";

// Core CSS
@import "@{bootstrap-src-dir}scaffolding.less";
//@import "@{bootstrap-overrides-dir}scaffolding.less";
@import "@{bootstrap-src-dir}type.less";
@import "@{bootstrap-src-dir}code.less";
@import "@{bootstrap-src-dir}grid.less";
@import "@{bootstrap-src-dir}tables.less";
@import "@{bootstrap-src-dir}forms.less";
//@import "@{bootstrap-overrides-dir}buttons.less";
@import "@{bootstrap-src-dir}buttons.less";

// Components
@import "@{bootstrap-src-dir}component-animations.less";
@import "@{bootstrap-src-dir}dropdowns.less";
//@import "@{bootstrap-overrides-dir}dropdowns.less";
@import "@{bootstrap-src-dir}button-groups.less";
@import "@{bootstrap-src-dir}input-groups.less";
@import "@{bootstrap-src-dir}navs.less";
@import "@{bootstrap-src-dir}navbar.less";
//@import "@{bootstrap-overrides-dir}navbar.less";
@import "@{bootstrap-src-dir}breadcrumbs.less";
@import "@{bootstrap-src-dir}pagination.less";
@import "@{bootstrap-src-dir}pager.less";
@import "@{bootstrap-src-dir}labels.less";
//@import "@{bootstrap-overrides-dir}labels.less";
@import "@{bootstrap-src-dir}badges.less";
@import "@{bootstrap-src-dir}jumbotron.less";
@import "@{bootstrap-src-dir}thumbnails.less";
@import "@{bootstrap-src-dir}alerts.less";
@import "@{bootstrap-src-dir}progress-bars.less";
@import "@{bootstrap-src-dir}media.less";
@import "@{bootstrap-src-dir}list-group.less";
@import "@{bootstrap-src-dir}panels.less";
//@import "@{bootstrap-overrides-dir}panels.less";
@import "@{bootstrap-src-dir}responsive-embed.less";
@import "@{bootstrap-src-dir}wells.less";
@import "@{bootstrap-src-dir}close.less";

// Components w/ JavaScript
@import "@{bootstrap-src-dir}modals.less";
@import "@{bootstrap-src-dir}tooltip.less";
//@import "@{bootstrap-overrides-dir}tooltip.less";
@import "@{bootstrap-src-dir}popovers.less";
@import "@{bootstrap-src-dir}carousel.less";

// Utility classes
@import "@{bootstrap-src-dir}utilities.less";
@import "@{bootstrap-src-dir}responsive-utilities.less";

// Custom theme styling
@import "@{theme-src-dir}theme.less";