<div class="thing-detail">
    
    <button type="button" ng-disabled="state.isUpdatingData" ng-click="this.handleClickBackButton()">Back to Dasboard</button>
    
    <h3>{{state.item.title}}</h3>
    
    <div ng-if="state.isUpdatingData == false && state.item == null">
        Item with id <strong>{{id}}</strong> could not be found. It has probably been deleted.
    </div>

    <div ng-if="state.item != null">
        <div>
            <label>Item Title:</label>
            <input type="text" ng-model="state.item.title" />
        </div>

        <button type="button" ng-disabled="state.isUpdatingData" ng-click="this.handleClickUpdateButton()">Update</button>
        <button ng-disabled="state.isUpdatingData" ng-click="this.handleClickDeleteButton()">Delete</button>
    </div>
</div>