.TaskList {
  padding: 20px;

  > .header {
    padding: 20px;

    > .TextFilter {

      .input {
        display: block;
        width: 100%;
      }
    }
  }

  > .list {
    .clearfix();

    .TaskCard, .TaskCardNew {
      .pull-left();
    }
  }

}