.TaskCard {
  .island();

  .box-shadow(0 2px 4px rgba(0,0,0,.2));
  width: 220px;
  height: 240px;
  margin-right: 20px;
  background: #fff;

  > .inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .title {
    .h4();
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
  }

  .date {
    display: inline;
    margin: 0 0 10px 0;
  }

  .date-created {
    margin: 0 0 10px 0;
    font-size: 12px;
  }

  .date-mod {
    margin: 0 0 10px 0;
    font-size: 12px;
  }

  .importance {
    margin: 0 0 10px 0;
    color: #555;
    font-size: 12px;
  }

  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
  }

}