.TaskCardNew {

  .TaskCard();

  background: #eee;

  > .inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
    perspective: 1000;

    .front, .back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }

    .front {
      z-index: 2;
      /* for firefox 31 */
      .transition-duration(0.5s);
      .transition-transform(rotateY(0deg));
    }

    /* back, initially hidden pane */
    .back {
      .transition-duration(0.5s);
      .transition-transform(rotateY(180deg));
    }

  }

  &.busy {
    > .inner {
      .front {
        .transition-transform(rotateY(180deg));
      }

      /* back, initially hidden pane */
      .back {
        .transition-transform(rotateY(0deg));
      }
    }
  }
}
