.btn {
  text-transform: uppercase;

  &.icon-right {
    .glyphicon, .fa, .icon {
      margin-left: 5px;
    }
  }
}

// Alternate buttons
// --------------------------------------------------

.btn-color_1 {
  .button-variant(@btn-color_1-color; @btn-color_1-bg; @btn-color_1-border);
  &:hover, &:active, &:focus {
    color: #fff !important;
  }
}
.btn-color_2 {
  .button-variant(@btn-color_2-color; @btn-color_2-bg; @btn-color_2-border);
  &:hover, &:active, &:focus {
    color: #fff !important;
  }
}
.btn-color_3 {
  .button-variant(@btn-color_3-color; @btn-color_3-bg; @btn-color_3-border);
  &:hover, &:active, &:focus {
    color: #fff !important;
  }
}
.btn-color_4 {
  .button-variant(@btn-color_4-color; @btn-color_4-bg; @btn-color_4-border);
  &:hover, &:active, &:focus {
    color: #fff !important;
  }
}
.btn-color_5 {
  .button-variant(@btn-color_5-color; @btn-color_5-bg; @btn-color_5-border);
  &:hover, &:active, &:focus {
    color: #fff !important;
  }
}
.btn-color_6 {
  .button-variant(@btn-color_6-color; @btn-color_6-bg; @btn-color_6-border);
  &:hover, &:active, &:focus {
    color: #fff !important;
  }
}
.btn-color_7 {
  .button-variant(@btn-color_7-color; @btn-color_7-bg; @btn-color_7-border);
  &:hover, &:active, &:focus {
    color: #fff !important;
  }
}
.btn-color_8 {
  .button-variant(@btn-color_8-color; @btn-color_8-bg; @btn-color_8-border);
  &:hover, &:active, &:focus {
    color: #fff !important;
  }
}
.btn-color_9 {
  .button-variant(@btn-color_9-color; @btn-color_9-bg; @btn-color_9-border);
  &:hover, &:active, &:focus {
    color: #fff !important;
  }
}
.btn-color_10 {
  .button-variant(@btn-color_10-color; @btn-color_10-bg; @btn-color_10-border);
  &:hover, &:active, &:focus {
    color: #fff !important;
  }
}