.label-color_1 {
  .label-variant(@label-color_1-bg);
}
.label-color_2 {
  .label-variant(@label-color_2-bg);
}
.label-color_3 {
  .label-variant(@label-color_3-bg);
}
.label-color_4 {
  .label-variant(@label-color_4-bg);
}
.label-color_5 {
  .label-variant(@label-color_5-bg);
}
.label-color_6 {
  .label-variant(@label-color_6-bg);
}
.label-color_7 {
  .label-variant(@label-color_7-bg);
}
.label-color_8 {
  .label-variant(@label-color_8-bg);
}
.label-color_9 {
  .label-variant(@label-color_9-bg);
}