.panel {

  .panel-header {
    text-align: center;
  }
  .panel-body {
    text-align: center;
  }
  .panel-footer {
    padding: 18px;
    text-align: center;
  }

  h1, h2, h3, h4, h5, h6, .title {
    color: @panel-heading-color !important;
    //text-transform: capitalize;
  }

  .title {
    font-size: @font-size-h4;
    margin: 18px 0 8px 0;
  }

  .is-picto {
    margin: 0 auto;
    max-height: 80px;
  }

  .btn-main {
    .btn-primary();
  }

  &.primary, &.color_1 {
    .btn-main {
      .btn-color_1();
    }
  }
  &.color_2 {
    .btn-main {
      .btn-color_2();
    }
  }
  &.color_3 {
    .btn-main {
      .btn-color_3();
    }
  }
  &.color_4 {
    .btn-main {
      .btn-color_4();
    }
  }
  &.color_5 {
    .btn-main {
      .btn-color_5();
    }
  }
  &.color_6 {
    .btn-main {
      .btn-color_6();
    }
  }
  &.color_7 {
    .btn-main {
      .btn-color_7();
    }
  }
  &.color_8 {
    .btn-main {
      .btn-color_8();
    }
  }
  &.color_9 {
    .btn-main {
      .btn-color_9();
    }
  }

  //.buildColouredOptions(10);
}

/*
.buildColouredOptions(@n, @i: 1) when (@i =< @n) {
  &.color_@{i} {
    .btn-main {
      .btn-color_@{i}();
      //width: (@i * 100% / @n);
    }
  }
  .buildColouredOptions(@n, (@i + 1));
}
*/