doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(name="author" content="")
        meta(name="apple-mobile-web-app-capable" content="yes")
        title Taskr
        link(rel="stylesheet" href="/assets/css/app-bundle.css")
    body
        block bodyContent
    script(src="/assets/js/app-bundle.js" type="text/javascript")
