<div class="thing-list">
    <h2>Thing List</h2>
    
    <div ng-show="state.isUpdatingData">Updating...</div>
    
    <span>Total items: {{ state.collection.length }}</span>
    <ul>
        <li ng-repeat="item in state.collection">
            {{ item.title }}
            <br /><small>id: {{ item.id }}</small>
            <button ng-disabled="state.isUpdatingData" ng-click="this.handleClickViewButton(item.id)">View</button> | 
            <button ng-disabled="state.isUpdatingData" ng-click="this.handleClickDeleteButton(item.id)">delete item</button></li>
    </ul>
    
    <div>
        <a href="#/thing-create/">Create new thing (page)</a>
    </div>
    
</div>