
.thing-list {
  padding: 10px;
  border: 1px solid #000;
}

.thing-new {
  padding: 10px;
  border: 1px solid #0c0;
}

.total-things-badge {
  position: fixed;
  right: 0;
  top: 0;
  padding: 10px;
  border: 1px solid #f00;
  color: #fff;
  background: #000;
}
