<button type="button" ng-disabled="state.isUpdatingData" ng-click="this.handleClickBackButton()">Back to Dasboard</button>

<thing-new>thing-new</thing-new>

<total-things-badge>total-items-badge</total-things-badge>